DIR_NP_CHARGRID_1H='D:/Side Projects/Chargrid/chargrid-pytorch/data/np_chargrids_1h'
DIR_NP_GT_1H='D:/Side Projects/Chargrid/chargrid-pytorch/data/np_gt_1h'
DIR_NP_BBOX_ANCHOR_MASK='D:/Side Projects/Chargrid/chargrid-pytorch/data/np_bbox_anchor_mask'
DIR_NP_BBOX_ANCHOR_COORD='D:/Side Projects/Chargrid/chargrid-pytorch/data/np_bbox_anchor_coord'

DIR_IMG='D:/Side Projects/Chargrid/chargrid-pytorch/data/img_inputs'
DIR_BOXES='D:/Side Projects/Chargrid/chargrid-pytorch/data/gt_boxes'
DIR_CLASSES='D:/Side Projects/Chargrid/chargrid-pytorch/data/gt_classes'

TESSERACT_EXECUTABLE='C:\Program Files\Tesseract-OCR\tesseract.exe'
MODEL_OUTPUT_DIR='D:/Side Projects/Chargrid/chargrid-pytorch/data/chargrid_model_outputs'