DIR_NP_CHARGRID_1H='./data/np_chargrids_1h'
DIR_NP_GT_1H='./data/np_gt_1h'
DIR_NP_BBOX_ANCHOR_MASK='./data/np_bbox_anchor_mask'
DIR_NP_BBOX_ANCHOR_COORD='./data/np_bbox_anchor_coord'
MODEL_OUTPUT_DIR='./output/'